<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="/images/Minimal_Dynamic_Background.jpg" />
      </div>
      <a href="#user"><img class="circle" src="<%=currentUser.displayPicture%>"></a>
      <a href="#name"
        ><span class="white-text name"><%=currentUser.name%></span></a
      >
      <a href="#email"
        ><span class="white-text email"><%=currentUser.email%></span></a
      >
    </div>
  </li>
  <li>
    <a class="waves-effect" href="/user/dashboard"
      ><i class="material-icons">dashboard</i> Dashboard</a
    >
  </li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Other links</a></li>
  <li>
    <a href="/user/dashboard/items/<%=currentUser.googleId%>">
      Item details <i class="material-icons">store</i>
    </a>
  </li>
  <li>
    <a href="/user/dashboard/contacts/<%=currentUser.googleId%>">
      <i class="material-icons">contacts</i>Contact Info</a
    >
  </li>
  <li>
    <a class="waves-effect" href="/user/dashboard/leavehistory"
      ><i class="material-icons">schedule</i> Leave Applications</a
    >
  </li>
  <li>
    <a class="waves-effect" href="/user/dashboard/fees/<%=currentUser.googleId%>"
      ><i class="material-icons">money</i> Fees Verification</a
    >
  </li>
  <li><a href="/auth/logout"><i class="material-icons">person_outline</i> LogOut</a></li>
</ul> 
<a href="#" data-target="slide-out" class="sidenav-trigger btn-floating"
  ><i class="material-icons slide-out-icon">chevron_right</i></a
>

