<%- include('partials/header'); -%>
<%- include('partials/admin-sidenav');-%>
</div>
<div class="container">
    <div class="jumbotron">
        <label for="course">Choose Course</label>
        <select style="display: flex;" id="course">
            <option value="BTECH:CS">BTECH:CS</option>
            <option value="BTECH:CSAI">BTECH:CSAI</option>
            <option value="BTECH:IT">BTECH:IT</option>
            <option value="MTECH:IT">MTECH:IT</option>
        </select>
        <label for="Sem" >Choose Semester:</label>
        <select name="hostel[sem]" style="display: flex;" id="sem">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        <button id="go">Go</button>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h3>Hostel Fees request</h3>
        <%hostelfeesfirstrequest.forEach((i)=>{%>
            <span><b>Name:</b></span><%=i.name%><br/>
            <span><b>Roll No:</b><%=i.rollNo%><br/>
            <span><b>Semester:</b><%=i.hostel.sem%><br/>
            <span><b>Transaction Amount</b><%=i.hostel.transactionAmount%><br/>
            <span><b>Transaction Id:</b><%=i.hostel.transactionId%><br/>
            <span><b>Mode of Payment</b><%=i.hostel.modeOfPayment%><br/>
            <span><b>Date and Time of Transaction</b><%=i.hostel.dateTime%><br/>
            <a href="">Accept</a>        <a href="">Reject</a>
        <%})%>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h3>Mess Fees request</h3>
        <%messfeesfirstrequest.forEach((i)=>{%>
            <span><b>Name:</b></span><%=i.name%><br/>
            <span><b>Roll No:</b><%=i.rollNo%><br/>
            <span><b>Semester:</b><%=i.mess.sem%><br/>
            <span><b>Transaction Amount</b><%=i.mess.transactionAmount%><br/>
            <span><b>Transaction Id:</b><%=i.mess.transactionId%><br/>
            <span><b>Mode of Payment</b><%=i.mess.modeOfPayment%><br/>
            <span><b>Date and Time of Transaction</b><%=i.mess.dateTime%><br/>
        <%})%>
    </div>
</div>


<div class="container">
    <div class="jumbotron">
        <h3>Edit Request for Hostel Fees</h3>
        <%hostelfeeseditrequest.forEach((i)=>{%>
            <span><b>Name:  </b></span><%=i.name%><br/>
            <span><b>Roll No:  </b><%=i.rollNo%><br/>
            <span><b>Semester:  </b><%=i.hostel.sem%><b> => </b><%=i.newhostel.sem%><br/>
            <span><b>Transaction Amount:  </b><%=i.hostel.transactionAmount%><b> => </b><%=i.newhostel.transactionAmount%><br/>
            <span><b>Transaction Id:  </b><%=i.hostel.transactionId%><b> => </b><%=i.newhostel.transactionId%><br/>
            <span><b>Mode of Payment:  </b><%=i.hostel.modeOfPayment%><b> => </b><%=i.newhostel.modeOfPayment%><br/>
            <span><b>Date and Time of Transaction:  </b><%=i.hostel.dateTime%><b> => </b><%=i.newhostel.dateTime%><br/><br/><br/><br/>
        <%})%>
    </div>
</div>


<div class="container">
    <div class="jumbotron">
        <h3>Edit Request for Mess Fees</h3>
    </div>
</div>


<script>
   
 const go = document.getElementById("go");
 const semester = document.getElementById("sem");
 const course = document.getElementById("course");

  go.addEventListener('click',()=>{  
    location.href="http://localhost:3000/admin/dashboard/fees/edit/request?sem="+semester.value+"&course="+course.value;
  });

</script>
<%- include('partials/footer'); -%>