<%- include('partials/header'); -%>
<%- include('partials/sidenav'); -%>

<div class="start-h2">
  <a href="/user/dashboard"><i class="material-icons back-icon">chevron_left</i></a>
</div>

<div class="container">
  <div class="row">
    <h4 style="text-align: center;">
      Edit your contact details <%=user.name%>
    </h4>
    <div style="width:50%;margin:25px auto;">
      <form action="/user/dashboard/contacts/<%=user.googleId%>" method="POST">
    
        <div class="inp-animation-container">
          <input
            type="text"
            name="contacts[phoneNumber]"
            value="<%=user.contacts.phoneNumber%>"
          required/>
          <div class="inp-label"> 
            <span> Contact Number </span>
          </div>
        </div>
        
        <div class="inp-animation-container">
          <input
            type="text"
            name="contacts[guardianName]"
            value="<%=user.contacts.guardianName%>"
          required/>
          <div class="inp-label"> 
            <span> Father's Number </span>
          </div>
        </div>
        
        <div class="inp-animation-container">
          <input
            type="text"
            name="contacts[guardianNumber]"
            value="<%=user.contacts.guardianNumber%>"
          required/>
          <div class="inp-label"> 
            <span> Father's Contact No. </span>
          </div>
        </div>
        
        <div class="inp-animation-container">
          <input
            type="text"
            name="contacts[address]"
            value="<%=user.contacts.address%>"
          required/>
          <div class="inp-label"> 
            <span> Address </span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block"  onclick="M.toast({html: 'Submitted'})">Submit!</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
