<%- include('partials/header'); -%>
<%- include('partials/sidenav'); -%>

<div class="start-h2">
    <a href="/user/dashboard"><i class="material-icons back-icon">chevron_left</i></a>
</div>

<div class="container">
    <div class="jumbotron">    
  <h3>Edit your Application for Leave</h3>
        <form action="/user/dashboard/edit/leave/<%=leave._id%>" method="POST">
            <div class="form-group">
              <label>Name:</label><br>
              <input type="text" name="leave[Name]" value="<%=leave.Name%>" readonly required>
            </div>

            <div class="form-group">
                <label>Email:</label><br>
                <input type="text" name="leave[Email]" value="<%=leave.Email%>" readonly required>
            </div>
             
            <div class="form-group">
                <label>Leaving Date</label><br>
                <input type="date" name="leave[Leave]"  value="<%=leave.Leave%>" required>
            </div>

            <div class="form-group">
                <label>Returning Date</label><br>
                <input type="date" name="leave[Return]" value="<%=leave.Return%>" required>
            </div>

            <div class="inp-animation-container">
                <input
                  type="text"
                  name="leave[Reason]"
                required/>
                <div class="inp-label"> 
                  <span> Reason </span>
                </div>
              </div>

            <div class="form-group">
                <br>
                <button class="btn btn-primary blue-grey darken-1">Submit!</button>
            </div>
               
        </form>
        
    </div>
</div>

<%- include('partials/footer'); -%>
