<%- include('partials/header'); -%>
<%- include('partials/sidenav'); -%>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Edit your item details <%=user.name%></h1>
    <div style="width:30%;margin:25px auto;">
      <form action="/user/dashboard/items/<%=user.googleId%>" method="POST">
        <div class="form-group">
          <label>Table Number</label>
          <input
            class="form-control"
            type="text"
            name="items[tableNumber]"
            value="<%=user.items.tableNumber%>"
            placeholder="Table Number"
          />
        </div>

        <div class="form-group">
          <label>Chair Number</label>
          <input
            class="form-control"
            type="text"
            name="items[chairNumber]"
            value="<%=user.items.chairNumber%>"
            placeholder="Chair Number"
          />
        </div>

        <div class="form-group">
          <label>Shelf Number</label>
          <input
            class="form-control"
            type="text"
            name="items[shelfNumber]"
            value="<%=user.items.shelfNumber%>"
            placeholder="Shelf Number"
          />
        </div>

        <div class="form-group">
          <label>Lamp Number</label>
          <input
            class="form-control"
            type="text"
            name="items[lampNumber]"
            value="<%=user.items.lampNumber%>"
            placeholder="Lamp Number"
          />
        </div>

        <div class="form-group">
          <label>Room Number</label>
          <input
            class="form-control"
            type="text"
            name="items[roomNumber]"
            value="<%=user.items.roomNumber%>"
            placeholder="Room Number"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
      </form>
      <a href="/user/dashboard">Go back</a>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
