<%- include('partials/header'); -%>
<%- include('partials/sidenav'); -%>

<div class="start-h2">
  <a href="/user/dashboard"><i class="material-icons back-icon">chevron_left</i></a>
</div>

<div class="container">
  <div class="row">
    <h4 style="text-align: center;">Edit your item details <%=user.name%></h4>
    
      <form class="form-container " action="/user/dashboard/items/<%=user.googleId%>" method="POST">
          <div class="inp-animation-container">
            <input
              type="text"
              name="items[tableNumber]"
              value="<%=user.items.tableNumber%>"
            required/>
            <div class="inp-label"> 
              <span> Table Number </span>
            </div>
          </div>

        <div class="inp-animation-container">
          <input
            type="text"
            name="items[chairNumber]"
            value="<%=user.items.chairNumber%>"
          required/>
          <div class="inp-label"> 
            <span> Chair Number </span>
          </div>
        </div>

        <div class="inp-animation-container">
          <input
            type="text"
            name="items[shelfNumber]"
            value="<%=user.items.shelfNumber%>"
          required/>
          <div class="inp-label"> 
            <span> Shelf Number </span>
          </div>
      </div>

      <div class="inp-animation-container">
        <input
          type="text"
          name="items[lampNumber]"
          value="<%=user.items.lampNumber%>"
        required/>
        <div class="inp-label"> 
          <span> Lamp Number </span>
        </div>
      </div>

      <div class="inp-animation-container">
        <input
          type="text"
          name="items[roomNumber]"
          value="<%=user.items.roomNumber%>"
        required/>
        <div class="inp-label"> 
          <span> Room Number </span>
        </div>
      </div>

        <div class="form-group" style="margin-top: 15px;">
          <button class="btn btn-lg btn-primary btn-block"  onclick="M.toast({html: 'Submitted'})">Submit!</button>
        </div>
      </form>
  </div>
</div>
<%- include('partials/footer'); -%>
