<div style="overflow: hidden;">
<div class="admin-header shadows">
<%- include('partials/header'); -%>

<%- include('partials/admin-sidenav'); -%>
</div>

<div class="start-h2" style="height: 0px;">
    <a style="z-index: 1000;" class="search-icon" href="/admin/dashboard/details"
      ><i class="material-icons back-icon" >search</i></a
    >
  </div>

    <div class="admin-welcome">
        <div class="admin-image">
            <img src="../images/admin-dashboard.svg" />
        </div>
        <div class="admin-image-content">
            <h2 style="color: #a9000c;">Hostel Admin Portal</h2>
            <p>This site makes it easy for the admin to work with the issues of student.</p><p>This is also packed with complete details of each and every student.</p>
        </div>
    </div>
    <div id="notifications" class="jumbotron-admin alerts">
        <div class="alert-content">
            <h3 style="width: 100%;color: #a9000c;text-align: center;">Notifications</h3><br>
        <ul class="collapsible expandible">
            <%if(leaves.length == 0){%>
                <div class="collapsible-header" style="display: flex; align-items: center;pointer-events: none;"><i class="material-icons">notifications_off</i>
                <span style="position: absolute;left: 50%; transform: translate(-50%);color: #a9000c;">No Notifications</span>
                </div>
             <%}else{%>
                <%leaves.forEach(function(leave){%>
                    <li>
                        <div class="collapsible-header" style="display: flex; align-items: center;"><i class="material-icons">notifications_active</i><span style="color: #a9000c;display: flex;align-items: center;">
                            <span  class="material-icons notifi-name" style="font-size: 20px;">person</span>&nbsp;<%=leave.Name%></span>
                            <span class="no-days" style="position: absolute;left: 50%;transform: translate(-50%);">Days : /*number*/</span>
                            <span style="position: absolute;right: 10%;"> 
                                <div class="hide-on-mobile">
                                <%if(leave.Approve==null){%>
                                <div class="appr-rej">
                                    <a href="/admin/dashboard/permit/accept/<%=leave._id%>"> <button class="btn btn-success">Approve</button></a>
                                    <a href="/admin/dashboard/permit/reject/<%=leave._id%>"><button class="btn btn-danger" style="background-color: #a9000c;">Reject</button></a>
                                </div>
                                <%}else if(leave.Approve==true){%>
                                    <button class="btn btn-success">Approved</button>
                                <%}else if(leave.Approve==false){%>
                                    <button class="btn btn-danger">Rejected</button>
                                <%}%>
                                </div>
                            </span>
                        </div>
                        <div class="collapsible-body">
                            <strong style="color: #a9000c;">Email:</strong>  <p><%=leave.Email%></p>
                            <strong style="color: #a9000c;">Leave Date:</strong>  <p><%=leave.Leave%></p>
                            <strong style="color: #a9000c;">Return Date:</strong>  <p><%=leave.Return%></p>
                            <strong style="color: #a9000c;">Reason:</strong>  <p><%=leave.Reason%></p>
                            <div class="view-on-mobile">
                            <%if(leave.Approve==null){%>
                                <a href="/admin/dashboard/permit/accept/<%=leave._id%>"> <button class="btn btn-success">Approve</button></a>
                                <a href="/admin/dashboard/permit/reject/<%=leave._id%>"><button class="btn btn-danger" style="background-color: #a9000c;">Reject</button></a>
                            <%}else if(leave.Approve==true){%>
                                <button class="btn btn-success">Approved</button>
                            <%}else if(leave.Approve==false){%>
                                <button class="btn btn-danger">Rejected</button>
                            <%}%>
                            </div>
                        </div>
                    </li>
                <%})%>
                <% }%>
              </ul>
            </div>
        </div>
              <br><br>

        <div style="height: 60px; width: 100%;"></div>
</div>
<script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, {accordion: false});
  });
</script>
<%- include('partials/footer'); -%>
</div>
