<%- include('partials/header'); -%>

<%- include('partials/sidenave'); -%>

<div class="container">
  <div class="jumbotron">
    <h2>Application for Leave</h2>
    <h4 style="color:red;">
      /*Don't create multiple applications at the same time. You can edit the
      existing from the edit button
    </h4>
    <form action="/user/dashboard/leave" method="POST">
      <div class="form-group">
        <label>Name:</label><br />
        <input
          type="text"
          name="leave[Name]"
          value="<%=currentUser.name%>"
          readonly
        />
      </div>

      <div class="form-group">
        <label>Name:</label><br />
        <input
          type="text"
          name="leave[Email]"
          value="<%=currentUser.email%>"
          readonly
        />
      </div>

      <div class="form-group">
        <label>Leaving Date</label><br />
        <input type="date" name="leave[Leave]" />
      </div>

      <div class="form-group">
        <label>Returning Date</label><br />
        <input type="date" name="leave[Return]" />
      </div>

      <div class="form group">
        <label>Reason</label><br />
        <input type="text" name="leave[Reason]" placeholder="Reason" />
      </div>

      <div class="form-group">
        <br />
        <button class="btn btn-primary ">Submit!</button>
      </div>
    </form>
  </div>
</div>


<a href="/user/dashboard/leavehistory"><h2>Link for past applications</h2></a>


<%- include('partials/footer'); -%>


<div class="jumbotron-lorem">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quidem nobis quae neque commodi vel, quas quasi ex suscipit soluta optio possimus velit atque deserunt sequi iste eveniet, laboriosam dicta beatae. Rerum labore fugiat facere voluptas vel minima aliquid dolor hic rem doloremque modi, eligendi maxime mollitia ut! Totam ea eius ratione voluptas facere magnam. In suscipit facilis, maxime magnam laborum dignissimos ipsa sit dolorum, asperiores ab repudiandae repellat tenetur? Cum, maiores magni excepturi molestiae cumque dignissimos doloribus hic temporibus. Placeat magni facere exercitationem consequuntur eaque, adipisci odit, aut distinctio ad commodi aspernatur harum vel dolor cumque rerum ratione tempore rem labore. Iusto, distinctio nobis! Molestias eos possimus eius delectus, error velit. Praesentium veniam in eligendi dolorum. Aliquam aliquid odit, esse commodi, corporis nulla qui magnam dolorum officiis consectetur unde, nihil repellendus a natus molestias exercitationem perspiciatis! Sequi ratione ad asperiores id distinctio? Labore ea quibusdam natus placeat, fuga officia dolores, vel illum suscipit vitae modi! Corrupti maxime hic nemo nulla ratione praesentium itaque perferendis non perspiciatis repellendus ut qui laborum optio distinctio placeat corporis obcaecati minima ipsam libero natus esse, mollitia ducimus enim nisi. Eligendi dolores adipisci blanditiis repellat modi officia voluptate beatae consequatur perspiciatis. Expedita autem, nostrum suscipit est sint esse quaerat, itaque, at facere eligendi maxime facilis eveniet. Voluptatibus, iste sit accusantium aut in nisi, ex delectus ipsa dolorem quas mollitia omnis. Iusto tempore id illum repellendus aspernatur doloremque ab animi soluta. Error, odit distinctio. Quam ducimus, quisquam magni atque quis aut quod dolor, quia ut, iste voluptatibus eius! Numquam doloribus quasi voluptas adipisci dignissimos perspiciatis quisquam asperiores amet molestiae, ad, voluptate atque fugiat nostrum. Libero quasi architecto explicabo hic nisi, deserunt ipsum animi ipsa voluptas. Unde quaerat vero facilis ipsam excepturi cum magnam accusamus, non nulla exercitationem. Magni eius earum perferendis excepturi commodi fuga aliquam, mollitia illo iure eum. Quibusdam dolore praesentium consectetur vero animi cum magni similique accusantium. Aperiam beatae fugit harum natus? Incidunt corporis aut rem perferendis, libero quidem doloremque, nam dolorem repellendus animi, vel cupiditate sunt laborum. Maiores, repudiandae! Dicta consectetur suscipit autem inventore numquam, quaerat, laboriosam consequuntur labore, aliquam cupiditate doloribus similique. Impedit magni dolor possimus vero qui, quibusdam officia provident neque dignissimos assumenda necessitatibus minus ab itaque eos quis eius sunt aliquam veniam! Iste delectus eos sunt quis facilis unde. Voluptatibus consequatur veniam magni, laudantium qui molestias soluta eius sapiente ipsa explicabo? Ut fugiat quasi est repellendus error velit cumque, ad harum nesciunt ipsa commodi nostrum obcaecati ratione deserunt aut architecto numquam tenetur animi voluptatibus laborum, atque dolore repellat necessitatibus in? Ducimus repellendus animi, unde ea numquam distinctio incidunt dicta cumque, veniam reiciendis architecto dolore illum odio saepe sed cum dolorem et vitae labore. Esse tempore delectus architecto, natus, facilis enim aperiam laborum eum perferendis cum, possimus ducimus id. Recusandae nemo ducimus deleniti assumenda quaerat. Corporis deleniti maiores laudantium, fugit accusantium quae ullam harum fugiat debitis nihil non consequatur cumque est vitae ut soluta quia, nemo omnis saepe sunt laborum minus iusto ea necessitatibus? Rerum voluptas fugiat ducimus possimus id veritatis saepe consectetur! Itaque, nihil explicabo est totam nisi quis eligendi aspernatur eveniet placeat harum accusantium esse, pariatur veniam beatae voluptate labore officiis mollitia et omnis, excepturi cupiditate magni id! Repellendus aliquid, excepturi debitis ab illum reiciendis ut voluptas provident fugit vitae quod amet eaque dolores nemo rem sint, animi a dolor! Tempore reprehenderit saepe dignissimos debitis aliquid modi similique, sapiente rerum assumenda aliquam optio? Cupiditate natus vitae quisquam omnis sequi porro sunt maxime praesentium, ullam doloribus perferendis corporis assumenda! Repellat, ipsum veniam. Nemo delectus praesentium inventore, explicabo rem, ea, aliquid eligendi repudiandae quia ullam asperiores numquam natus esse deleniti officia earum magni molestiae impedit. Quo, minus. Repellat quam fugit officiis, atque voluptatibus omnis odit fuga ducimus distinctio vitae eaque tempora corrupti repellendus? Inventore dicta odio mollitia ipsa perspiciatis iure unde illo asperiores nulla iste excepturi id nesciunt, amet necessitatibus nisi! Cupiditate quia consectetur explicabo possimus saepe. Distinctio explicabo veritatis assumenda. Earum ipsa ducimus cum nam delectus repudiandae tempore, fuga soluta quod dolorem doloremque! Soluta minus at culpa facilis unde quae quisquam? Aliquam accusantium corrupti nobis iste dolores aut, molestias cumque repellat quis, dolorem omnis? Numquam sit sapiente, alias vero id omnis eius itaque fugit libero magni mollitia accusantium rem incidunt commodi soluta doloribus molestiae reiciendis laborum autem ipsa facilis quaerat repellendus ex. Magni iusto quos sed eos modi qui! Nobis eaque quis error fugiat, autem voluptatibus deserunt sit dignissimos totam eum odit iste dolores fugit officiis assumenda illum recusandae ut, qui veritatis blanditiis, ea corrupti necessitatibus nesciunt labore! Incidunt nisi adipisci sint, reiciendis asperiores quia sequi ab quae quod, molestiae, eos maxime illum accusantium vel porro cumque consectetur aliquam distinctio odit molestias aut nihil accusamus ut? Id veniam recusandae, beatae facilis consequuntur voluptatum hic aspernatur qui? Eos necessitatibus inventore velit laudantium. Quos beatae temporibus laboriosam distinctio! Repellat dolor molestiae provident! Ullam accusantium quos at voluptate! Ducimus explicabo, sint quidem asperiores amet, reiciendis quas in similique ea accusantium necessitatibus quo distinctio est voluptates numquam consequuntur delectus aut sapiente quaerat quos, officia illo quasi cupiditate ex! Repellendus, assumenda sed temporibus in aliquam ab accusantium eligendi quidem sunt facilis a natus officia delectus ut sapiente vitae dolorem nulla dicta, distinctio placeat perspiciatis est nesciunt illo. Dicta, delectus incidunt non exercitationem iure excepturi architecto a perspiciatis, eos debitis quos laborum obcaecati consequatur id nam rem quae dignissimos, dolorem distinctio? Accusamus deleniti omnis blanditiis illum perspiciatis eius sint, iure consequuntur tenetur similique numquam aliquid corporis minima adipisci eos, odit magnam reiciendis dignissimos necessitatibus fuga quibusdam atque doloribus. Omnis atque sunt alias. Minima maxime eum dicta rem? Alias deleniti voluptatibus incidunt ea id nam maiores quod fuga vel impedit ducimus, debitis officia repellat? Inventore voluptatem non sit, voluptates voluptate cumque alias, ratione error rerum sed accusamus facilis voluptatibus nostrum eveniet ullam odit quaerat reprehenderit dolorem. Beatae eligendi reprehenderit optio illum. Dolores exercitationem quae dicta repudiandae rem modi minus distinctio impedit maxime consequatur ratione eveniet recusandae, voluptates magni! Temporibus aperiam repellendus eos obcaecati dolorem. Ratione praesentium repudiandae accusamus odit, est id ipsa reiciendis, omnis officiis quasi provident!
</div>

