<div class="admin-header shadows">
<%- include('partials/header'); -%>
</div>
    <div class="admin-welcome">
        <div class="admin-image">
            <img style="float: right;margin-right: 40px;" src="../images/admin-dashboard.svg" />
        </div>
        <div class="admin-image-content">
            <h2 style="color: #a9000c;">Content</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos pariatur incidunt rerum error illum explicabo animi eligendi quia veritatis?</p>
        </div>
    </div>
    <div class="jumbotron-admin alerts">
        <div class="alert-content">
            <h3 style="width: 100%;color: #a9000c;text-align: center;">Notifications</h3><br>
        <ul class="collapsible expandible">
            <li>
                <div class="collapsible-header"><i class="material-icons">notifications_active</i>Name</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">notifications_active</i>Name</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">notifications_active</i>Name</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
          
          </div>


        <a href="/admin/dashboard/details"><h3>Click for details</h3></a>
    <div class="container-admin">
         <h4>
           Select from these options:
          <form action="/admin/dashboard" method="GET">
            <select id="hello" name="status">
                <option value="applied" >Applications for leave</option>
                <option value="recent">Recent Applications</option>
            </select>
            <button>Submit</button>
          </form>
        </h4>
          <strong> =============================================================================  </strong>
           <%if(status=="applied"){%>
               <h2>Applications for Leave</h2>
           <%}else if(status=="recent"){%>
               <h2>Recent Applications</h2>
           <%}%>
        <br>
        <%leaves.forEach(function(leave){%>
            <div class="row">
                <strong>Name:</strong>  <p><%=leave.Name%></p>
                <strong>Email:</strong>  <p><%=leave.Email%></p>
                <strong>Leave Date:</strong>  <p><%=leave.Leave%></p>
                <strong>Return Date:</strong>  <p><%=leave.Return%></p>
                <strong>Reason:</strong>  <p><%=leave.Reason%></p>
                <%if(leave.Approve==null){%>
                    <a href="/admin/dashboard/permit/accept/<%=leave._id%>"> <button class="btn btn-success">Success</button></a>
                    <a href="/admin/dashboard/permit/reject/<%=leave._id%>"><button class="btn btn-danger">Reject</button></a>
                <%}else if(leave.Approve==true){%>
                    <button class="btn btn-success">Approved</button>
                   <%}else if(leave.Approve==false){%>
                    <button class="btn btn-danger">Rejected</button>
                   <%}%><br><br>
                   <strong>=======================================================</strong><br><br>
            </div>
        <%})%>
        
        <%for(var i=0;i< number;i++){%>
            <a href="/admin/dashboard/?page=<%=i%>"><%=i%></a>
        <%}%>
    </div>
</div>
<script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, {accordion: false});
  });
</script>
<%- include('partials/footer'); -%>
