<%- include('partials/header'); -%>
<div class="jumbotron">
    <div class="container">
        <h2>Details of leave of <%=currentUser.name%></h2>
   
        <%leaves.forEach(function(leave){%>
            <br>
            <strong>Name:</strong>  <p><%=leave.Name%></p>
            <strong>Email:</strong>  <p><%=leave.Email%></p>
            <strong>Leave Date:</strong>  <p><%=leave.Leave%></p>
            <strong>Return Date:</strong>  <p><%=leave.Return%></p>
            <strong>Reason:</strong>  <p><%=leave.Reason%></p>
            <%if(leave.Approve==true){%>
                <button class="btn btn-success ">Approved</button>
            <%}else{%>
                <button class="btn btn-danger ">Rejected</button>
            <%}%><br><br>
            <strong>==================================</strong><br>
        <%})%>
   </div>
</div>
<%- include('partials/footer'); -%>
