<%- include('partials/header'); -%>

<%- include('partials/sidenav'); -%>

<div class="leave-h2">
  <h2>Leave History </h2></div>

<div class="container">
    <div class="jumbotron">
      <%if(leaves.length==0){%>
      <div class="status-heading">No Applications</div>
      <%}else{%>
      <div class="status-heading"><h3>Leave Application Information/Status</h3></div>
      <!-- // -->
      <br />
      <h4 style="margin-bottom: 35px;">Latest Leave:</h4>
      <%leaves.forEach(function(leave){%>
      <div class="leave-content">
        <br />
        <strong>Name:</strong>
        <p><%=leave.Name%></p>
        <strong>Email:</strong>
        <p><%=leave.Email%></p>
        <strong>Leave Date:</strong>
        <p><%=leave.Leave%></p>
        <strong>Return Date:</strong>
        <p><%=leave.Return%></p>
        <strong>Reason:</strong>
        <p><%=leave.Reason%></p>
        <%if(leave.Approve==null){%>
        <a href="/user/dashboard/edit/leave/<%=leave._id%>"
          ><button class="btn btn-primary ">Edit</button></a
        >
        <a href="/user/dashboard/delete/leave/<%=leave._id%>"
          ><button class="btn btn-danger ">Delete</button></a
        >
        <button class="btn btn-info ">Waiting</button>
        <%}else if(leave.Approve==true){%>
        <button class="btn btn-success ">Approved</button>
        <%}else if(leave.Approve==false){%>
        <button class="btn btn-danger ">Rejected</button>
        <%}%>
        <br /><br />
  
        <strong>=======================================================</strong>
      </div>
      <%})%> <%}%>

      <%for(var i=0;i< number;i++){%>
        <a href="/user/dashboard/leavehistory/?pageno=<%=i%>"><%=i%></a>
    <%}%>
    
    </div>
  </div>

 


<%- include('partials/footer'); -%>
