<div style="overflow: hidden;">
<div class="admin-header shadows">
    <%- include('partials/header'); -%>
    
    <%- include('partials/admin-sidenav'); -%>
    </div>
<div class="container-admin">
    <div class="userinfo-cont">
        <div style="width: 60%;">
            <img style="width: 100%; height: 100%;" src="../../images/profile_data.svg" alt="">
        </div>
       <div style="width: 40%;">
        <h2>Basic Details:</h2>
        <div><strong>Name:&nbsp;</strong><%=user.name%></div><br>
        <div><strong>Email:&nbsp;</strong><%=user.email%></div><br>
        <div><strong>Guardian Name:&nbsp;</strong><%=user.guardianName%></div>
        <br>

        <h2>Item Information:</h2>
        <div><strong>Chair Number:&nbsp;</strong><%=user.items.chairNumber%></div>
        <div><strong>Lamp Number:&nbsp;</strong><%=user.items.lampNumber%></div>
        <div><strong>Room Number:&nbsp;</strong><%=user.items.roomNumber%></div>
        <div><strong>Shelf Number:&nbsp;</strong><%=user.items.ShelfNumber%></div>
        <div><strong>Table Number:&nbsp;</strong><%=user.items.tableNumber%></div>
        <br>
       </div>
    </div>

    <div class="userinfo-cont" style="margin-left: 9%; margin-bottom: 5%;">
       <div style="width: 40%;">
        <h2>Contact Information:</h2>
        <div><strong>Address:&nbsp;</strong><%=user.contacts.address%></div><br>
        <div><strong>Email:&nbsp;</strong><%=user.email%></div>
        <div><strong>Contact Number:&nbsp;</strong><%=user.contacts.phoneNumber%></div><br>
        <div><strong>Guardian Name:&nbsp;</strong><%=user.contacts.guardianName%></div>
        <div><strong>Guardian Number:&nbsp;</strong><%=user.contacts.guardianNumber%></div>
        <br>
       </div>

        <div style="width: 60%;">
        <img style="width: 100%; height: 100%;" src="../../images/contact_us.svg" alt="">
        </div>
    </div>

       <button><a href="/admin/dashboard/details">Go back</a></button>

</div>




<%- include('partials/footer'); -%>
</div>